
@import url('https://fonts.cdnfonts.com/css/minecraft-4');


body {
    font-family: 'Minecraft', sans-serif;
    font-weight: 50;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
footer,
.content-nav,
.content-sidebar {
    text-align: center;
    color: #f2e8cfff;
}

header {
    background: #ac3335;
    color: #f2e8cfff;
    font-size: xx-large;
    border: 5px solid #2e1a08;
}

main {
    padding: 2%;
    background: #6a994eff;
    font-size: x-large;
    color: #2e1a08;
    border-bottom: 5px solid #2e1a08;
}

main div {
    padding-bottom: 2%;
}

footer {
    background: #ac3335;
}

.content-nav,
.content-sidebar {
    background: #386641ff;
}

form #player {
    font-weight: 25;
    font-family: 'Minecraft', sans-serif;
    justify-content: center;
    width: 30%;
    margin-left: 22.5%;
}

form #start-button {
    font-weight: 25;
    font-family: 'Minecraft', sans-serif;
}

footer,
.content-nav,
.content-sidebar {
    border-left: 5px solid #2e1a08;
    border-right: 5px solid #2e1a08;
    border-bottom: 5px solid #2e1a08;
}

.content-nav {
    background-image: url("../img/image_part_001.jpg");
    background-size: cover;
}

.content-sidebar {
    background-image: url("../img/image_part_002.jpg");
    background-size: cover;
}

footer {
    padding-top: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    font-size: large;
}

nav a {
    transition: all 0.25s;
    text-decoration: none;
    color:#2e1a08;
}

nav a:hover {
    color: #f2e8cfff;
    border-radius: 25px;
    background: rgb(112, 167, 81);
    padding: 10px;
}

nav a:visited {
    color:#2e1a08;
}


img:not(#logo),
input,
button,
nav a:hover,
textarea,
#slider input::-webkit-slider-thumb {
    border-radius: 25px;
    border: 6px solid #2e1a08;
    /* font-family: 'Chakra Petch',"Courier New", Arial, Helvetica, sans-serif; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#logo {
    padding-top: 1.5%;
    padding-right: 1%;
    order: 1;
}

.img-descr {
    position: relative;
}

.img-txt {
    position: relative;
    text-decoration: underline;
}



input,
textarea {
    background-color: #f2e8cfff;
    padding: 10px;
    outline: none;
}


a {
    color: #f2e8cfff;
}

h4 {
    text-decoration: underline;
}


.titles {
    color: #392412;
}


.form-item {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 10px;

}
/* 
.row label {
    font-family: 'Minecraft', sans-serif;
    width: 50%;
    height: 8%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    font-weight: 25;
} */

.row label{
    margin-left: 20%;
}

.form-item select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: antiquewhite;
    text-align: left;
    padding-left: 10px;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 25px;
    border: 6px solid #2e1a08;
    font-family: 'Minecraft', sans-serif;
    font-weight: 25;
    outline: none;
}

body .body-content .game-table article {
    cursor: pointer;
}

body .body-content .game-table article button {
    display: none;
}


.body-content main {
    border-radius: 0%;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
    text-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .content-nav,
    .content-sidebar {
        flex: 0 15% 0;
        padding: 2%;
    }

    .content-nav {
        order: -2;
    }

    .body-content {
        display: flex;
        flex-direction: column;
    }

    .content-main {
        flex: 1;
    }

    nav ul li {
        margin-bottom: 8%;
    }

    main {
        border-left: 6px solid #2e1a08;
        border-right: 6px solid #2e1a08;
    }

    .content-sidebar table {
        width: 45%;
        margin-left: 27.5%;
        margin-right: 27.5%;
    }

    .form-item label {
        margin-right: 5%;
    }


    .body-content .actions button {
        font-size: xxx-large;
        width: 5em;
        height: 5em;
    }

    th {
        text-align: left;
    }

}


@media (min-width: 768px) {
    main {
        width: 70%;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .body-content {
        display: flex;
        flex: 1;
    }

    .content-main {
        flex: 1;
    }

    .content-nav,
    .content-sidebar {
        flex: 0 0 15%;
        padding: 0.75%;
    }

    .content-nav {
        /* put the nav on the left */
        order: -1;
    }


    nav ul li {
        margin-bottom: 10%;
    }


    .input-name {
        padding-top: 15%;
    }
/* /* 
    .form-item label {
        padding-right: 10%; */
    

    .content-sidebar table {
        padding-left: 8%;
    }

}
