<form method="POST" action="http://localhost:9000/play">
    <div class="form-item">
        <label for="terrain">Choose your terrain:</label>
        <select name="map" id="terrain" required>
            <option disabled selected>Choose</option>
            <option value="nyc">New York</option>
            <option value="santorini">Santorini</option>
            <option value="tokyo">Tokyo</option>
            <option value="neom">Neom</option>
        </select>
    </div>
    <div class="form-item">
        <label for="level">Choose the difficulty:</label>
        <select name="level" id="level">
            <option value="choose">Choose</option>
            <option value="easy" selected>Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <input type="text" name="player" id="player">
    <input id="start-button" type="submit" value="Launch Minecraft!">
</form>