<article>
    <h2>Welcome to Build & Cross!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A deleniti ipsa nemo enim optio, dolore dolor omnis minus incidunt quas doloremque eum esse velit? Expedita blanditiis sit labore voluptate quasi.</p>
</article>

<br />

<div class="img-descr">
    <h4 class="img-txt"> Minecraft:</h4>
    <img src="img/minecraft-img.jpg" alt="Minecraft" height="400" width="400" />
</div>