<article>
    <h2>Welcome to Build & Cross!</h2>
    <p>During this game, you, the player, are spawned onto a map in Minecraft
        equiped with a railway that is hovewer, broken. There are resources placed throughout the world,
        which will help you build missing rails.
        Your mission is to place rails where they're missing and help the minecart that uses the railway pass.
    </p>
</article>

<br />

<div class="row">
    <div class="column">

        <div class="img-descr">
            <h4 class="img-txt"> Tokyo:</h4>
            <img src="img/tokyo.jpeg" alt="Tokyo" height="400" width="400" />
        </div>

    </div>
    <div class="column">

        <div class="img-descr">
            <h4 class="img-txt"> Neom:</h4>
            <img src="img/neom.jpeg" alt="Neom" height="400" width="400" />
        </div>

    </div>
</div>

<div class="row">
    <div class="column">

        <div class="img-descr">
            <h4 class="img-txt"> Santorini:</h4>
            <img src="img/santorini.jpeg" alt="Santorini" height="400" width="400" />
        </div>

    </div>
    <div class="column">

        <div class="img-descr">
            <h4 class="img-txt"> New York City:</h4>
            <img src="img/nyc.jpeg" alt="New York City" height="400" width="400" />
        </div>

    </div>
</div>