<form>
    <div class="form-item">
        <label for="terrain">Choose your terrain:</label>
        <select name="terrain" id="terrain">
            <option value="choose">Choose</option>
            <option value="new_york">New York</option>
            <option value="santorini">Santorini</option>
            <option value="tokyo">Tokyo</option>
            <option value="neom">Neom</option>
        </select>
    </div>
    <div class="form-item">
        <label for="level">Choose the difficulty:</label>
        <select name="level" id="level">
            <option value="choose">Choose</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
</form>