<article>
    <h2>Welcome to Build & Cross!</h2>
    Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
    Maecenas ultrices justo id nisi bibendum,
    vitae mattis nunc laoreet.
    Ut eleifend metus arcu, eget vehicula turpis accumsan in.
    Etiam ut posuere elit. Morbi mollis sed nulla pulvinar consequat.
    Aliquam consectetur aliquam odio eget malesuada.
    Pellentesque ex sem, sodales quis fringilla eu, blandit et dui.
    Donec eleifend risus euismod, mollis justo sollicitudin, consequat urna.
    Phasellus egestas auctor nunc, a maximus mi lacinia nec.
    In eget dapibus velit, eu interdum ipsum. Duis maximus erat sed tortor iaculis semper.
    Nunc vitae nibh hendrerit, sollicitudin libero sed, porta orci.
    Mauris placerat vulputate mi. Donec vitae.
</article>
<br>
<div class="img-descr">
    <h4 class="img-txt"> Minecraft: </h4>
    <img src="img/minecraft-img.jpg" alt="Minecraft" height="400" width="400"></img>
</div>