<h4 class="titles">Top 10 Players</h4>
<table>
  <tr>
    <td class="titles">Player</td>
    <td class="titles">Score</td>
    <td class="titles">Map
    <td>
  </tr>
  <% for (let s of scores) { %>
    <tr>
      <td>
        <%= s.player %>
      </td>
      <td>
        <%= s.score %>
      </td>
      <td>
        <%= s.map %>
      </td>
    </tr>
    <% } %>
</table>