<h4>Top 10 Players</h4>
<table>
  <tr>
    <th>Player</th>
    <th>Score</th>
  </tr>
  <% for (let s of scores) { %>
    <tr>
      <td>
        <%= s.player %>
          </th>
      <td>
        <%= s.score %>
          </th>
    </tr>
    <% } %>
</table>