<h4>Top 10 Players</h4>
<table>
  <tr>
    <td>Player</td>
    <td>Score</td>
    <td>Map
    <td>
  </tr>
  <% for (let s of scores) { %>
    <tr>
      <td>
        <%= s.player %>
      </td>
      <td>
        <%= s.score %>
      </td>
      <td>
        <%= s.map %>
      </td>
    </tr>
    <% } %>
</table>